<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Capstone Project</title>
    <!-- add the css file below-->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"> -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css">

    <!-- header section starts  -->

    <header>
        <nav class="nav navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('home') }}">Timeless Travels</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
                <ul class="navar-nav m1-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                </ul>
            </div>

            </form>
        </nav>
    </header>


    <header>

        <div id="menu-bar" class="fas fa-bars"></div>

        <nav class="navbar">

        </nav>
        <!-- this search button needs to go to the right side of the page  -->
        <div class="icons">
            <i class="fas fa-search" id="search-btn"></i>
            <i class="fas fa-user" id="login-btn"></i>
        </div>

    </header>

    <div>
<section class="contact" id="contact">

            <h1 class="heading">
                <span>C</span>
                <span>o</span>
                <span>n</span>
                <span>t</span>
                <span>a</span>
                <span>c</span>
                <span>t</span>
            </h1>

            <div class="row">

                <div class="image">
                    <img src="" alt="">
                </div>

                <form action="">
                    <div class="inputBox">
                        <input type="text" placeholder="name">
                        <input type="email" placeholder="email">
                    </div>
                    <div class="inputBox">
                        <input type="number" placeholder="number">
                        <input type="text" placeholder="subject">
                    </div>
                    <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>
                    <input type="submit" class="btn" value="send message">
                </form>

            </div>

        </section>
<div>
                                                                    <!-- contact section ends -->


                                                                       <!-- footer section  -->
<div>
<section class="footer">

            <div class="box-container">

                <div class="box">
                    </p>
                </div>

                <div class="box">
                    <a href="#">Home</a>
                    <a href="#">About Me</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact</a>
                </div>
                <div class="box">
                    <h3>Follow me</h3>
                    <a href="#">instagram</a>
                    <a href="#">linkedin</a>
                </div>

            </div>

        </section>
        <!-- Custom Javascript file -->
        <script src="./js/index.js"></script>
</body>